<launch>
  <!-- support multi robot -->
  <arg name="robot_name" default=""/> 
  <arg name="base_type"       default="$(env BASE_TYPE)" /> 
  <arg name="camera_tf"       default="false" />    
  <arg name="base_frame"       default="base_footprint" />    
  <arg name="camera_frame" default="base_camera_link"/>  
  <arg name="device" default="video0"/>  
  <arg name="base_id"    value="$(arg robot_name)/$(arg base_frame)"/>        <!-- base_link name -->
  <arg name="camera_id"    value="$(arg robot_name)/$(arg camera_frame)"/>  <!-- camera link name -->
  <!--NanoRobot camera image need flip-->
  <group if="$(eval robot_name == '')">
    <group if="$(eval base_type == 'NanoRobot')">
        <node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" output="screen" >
        <param name="device" value="/dev/$(arg device)" />
        <param name="fps" value="30" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="jpeg" />
        <param name="frame_id" value="$(arg camera_frame)" />
        <param name="io_method" value="mmap"/>
        <param name="horizontal_flip" value="true" />
        <param name="vertical_flip" value="true" />  
        </node>
    </group>

    <group unless="$(eval base_type == 'NanoRobot')">
        <node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" output="screen" >
        <param name="device" value="/dev/$(arg device)" />
        <param name="fps" value="30" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="jpeg" />
        <param name="frame_id" value="$(arg camera_frame)" />
        <param name="io_method" value="mmap"/>
        </node>
    </group>
    <!--Pub camera tf info-->
    <group if="$(arg camera_tf)">
        <group if="$(eval base_type == 'NanoRobot')">
            <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
                args="0.02225 0.0 0.10 0.0 0.0 0.0 $(arg base_id) $(arg camera_id) 20">
            </node>
        </group>
        <group if="$(eval base_type == '4WD')">
            <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
                args="0.1 0.02 0.25 0.0 0.0 0.0 $(arg base_id) $(arg camera_id) 20">
            </node>
        </group>
        <group if="$(eval base_type == '4WD_OMNI')">
            <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
                args="0.1 0.02 0.25 0.0 0.0 0.0 $(arg base_id) $(arg camera_id) 20">
            </node>
        </group>
        <group if="$(eval base_type == 'NanoCar')">
            <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
                args="0.1024 0.0 0.1 0.0 0.0 0.0 $(arg base_id) $(arg camera_id) 20">
            </node>
        </group>
    </group> 
  </group>

  <group unless="$(eval robot_name == '')">
    <group ns="$(arg robot_name)">
        <!--NanoRobot camera image need flip-->
        <group if="$(eval base_type == 'NanoRobot')">
            <node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" output="screen" >
            <param name="device" value="/dev/$(arg device)" />
            <param name="fps" value="30" />
            <param name="image_width" value="640" />
            <param name="image_height" value="480" />
            <param name="pixel_format" value="jpeg" />
            <param name="frame_id" value="$(arg camera_frame)" />
            <param name="io_method" value="mmap"/>
            <param name="horizontal_flip" value="true" />
            <param name="vertical_flip" value="true" />  
            </node>
        </group>
        <group unless="$(eval base_type == 'NanoRobot')">
            <node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" output="screen" >
            <param name="device" value="/dev/$(arg device)" />
            <param name="fps" value="30" />
            <param name="image_width" value="640" />
            <param name="image_height" value="480" />
            <param name="pixel_format" value="jpeg" />
            <param name="frame_id" value="$(arg camera_frame)" />
            <param name="io_method" value="mmap"/>
            </node>
        </group>
        <!--Pub camera tf info-->
        <group if="$(arg camera_tf)">
            <group if="$(eval base_type == 'NanoRobot')">
                <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
                    args="0.02225 0.0 0.10 0.0 0.0 0.0 $(arg base_id) $(arg camera_id) 20">
                </node>
            </group>
            <group if="$(eval base_type == '4WD')">
                <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
                    args="0.1 0.02 0.25 0.0 0.0 0.0 $(arg base_id) $(arg camera_id) 20">
                </node>
            </group>
            <group if="$(eval base_type == '4WD_OMNI')">
                <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
                    args="0.1 0.02 0.25 0.0 0.0 0.0 $(arg base_id) $(arg camera_id) 20">
                </node>
            </group>
            <group if="$(eval base_type == 'NanoCar')">
                <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera"
                    args="0.1024 0.0 0.1 0.0 0.0 0.0 $(arg base_id) $(arg camera_id) 20">
                </node>
            </group>
        </group> 
    </group>
  </group>


</launch>